* { margin: 0; padding: 0; box-sizing: border-box; }
a { color: inherit; text-decoration: none; }
li { list-style: none; }
body {
    font-family: 'Dongle', sans-serif;
    /* background-image: url('image/body_bg.png'); */
}
/* 헤더 */
#header {
    z-index: 100000;
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
#header ul {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header ul li {
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    transition: 0.5s;
}
#header ul li:hover {
    transform: scale(1.2);
    font-weight: bold;
}
#header ul li:target {
    font-weight: bold;
}
/* // 헤더 */
/* 첫번째 섹션 */
#fir_section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#bg_video {
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: url('image/Clouds\ -\ 58474.mp4');
}
#fir_txt {
    width: 540px;
    height: 80px;
    position: relative;
}
#bottomline {
    position: absolute;
    background-color: rgba(255, 103, 103, 0.3);
    width: 0;
    height: 5px;
    bottom: 10px;
    left: 0;
    animation-name: row_line;
    animation-delay: 3.8s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#imoticon {
    position: absolute;
    color: red;
    width: 0;
    height: 5px;
    bottom: 75px;
    right: 100px;
    opacity: 0;
    animation-name: appear;
    animation-delay: 6s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.small_font { font-size: 16px;}
@keyframes row_line {
    0%{
        width: 0;
    }
    50%{
        width: 68%;
    }
    100%{
        width: 100%;
    }
}
@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 0.7;
    }
}
h1 {
    font-family: 'Dongle', sans-serif;
    font-size: 50px;
    font-weight: 400;
}
#mouse_t {
    position: absolute;
    bottom: 120px;
    font-size: 18px;
    opacity: 0;
    animation-name: appear;
    animation-delay: 6s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
#mouse_i {
    position: absolute;
    bottom: 80px;
    text-align: center;
    animation: motion 1.0s linear 6s infinite;
    animation-delay: 6.3s;
    opacity: 0;
}
@keyframes motion {
    from{
        bottom: 80px;
        opacity: 1;
    }
    to{
        bottom: 60px;
        opacity: 1;
    }
}
/* // 첫번째 섹션 */
/* 두번째 섹션 */
#sec_section {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image: url('image/body_bg.png');
}
#sec_section p {
    font-size: 30px;
    line-height: 1.1;
    font-weight: 400;
}
#sec_title {
    width: 500px;
    height: 40vh;
    margin: 0 auto;
}
#sec_title h1 {
    padding-top: 120px;
    font-size: 100px;
}
#sec_title strong { font-size: 40px; }
#sec_content {
    width: 1170px;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
#sec_content h1 { font-size: 80px; }
#sec_content1 {
    width: 30%;
    position: relative;
}
#sec_content1 h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
#sec_content1 p {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 400px;
    padding-top: 80px;
    z-index: 0;
}
#sec_content2 {
    margin: 0 5%;
    width: 30%;
    position: relative;
}
#sec_content2 h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
#sec_content2 p {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 400px;
    padding-top: 80px;
    z-index: 0;
}
#sec_content3 {
    width: 30%;
    position: relative;
}
#sec_content3 h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
#sec_content3 p {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 400px;
    padding-top: 80px;
    z-index: 0;
}
/* // 두번째 섹션 */
/* 세번째 섹션 */
#thi_section {
    width: 100%;
    height: 100vh;
    text-align: center;
}
#thi_title {
    width: 500px;
    height: 40vh;
    margin: 0 auto;
}
#thi_title h1 {
    padding-top: 120px;
    font-size: 100px;
}
/* // 세번째 섹션 */